.register {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #ffffff8e;
}

label,
input {
  display: block;
  height: 25px;
  width: 200px;
}

img {
  width: 15rem;
}

button {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  border: none;
  background: #358E9D;
  color: white;
}

.registerForm {
  margin-bottom: 10px;
}

.errorM {
  color: red;
}

@media (max-width: 800px) {
  .register {
    flex-direction: column;
  }
}
