.soList {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #ffffff8e;
  }
  
  label,
  input {
    display: block;
    height: 25px;
    width: 250px;
  }
  
  .soListImg {
    width: 15rem;
  }

  .soListSignOutBtn {
    background-color: rgb(168, 27, 27);
  }

  .btn {
    margin: 5px;
  }
  
  button {
    margin-top: 10px;
    height: 35px;
    width: 80px;
    border-radius: 5px;
    border:none;
    background: #358e9d;
    color: white;
  }

  #listMessage {
    color: rgb(168, 27, 27);
  }
  
  @media (max-width: 800px) {
    .soList {
      flex-direction: column;
    }
  }
  